
    <!-- navbar -->
    <%-include('header.ejs')%>
    <div style="height: 95vh;">
        <img src="/images/banner.jpg" style="width: 100%; height: 100%;">
    </div>

  <!-- vedio introduction -->
  <div class="container-fluid p-3" style="height: 100vh;">
    <div class="row">
      <!-- section left -->
      <div class="col-sm-12 col-md-6">
        <div id="set-height" class="container-fluid d-flex justify-content-center align-items-center ">
          <iframe 
            src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ffstrmutk%2Fvideos%2F2459611587585128%2F&show_text=false&width=560&t=0" 
            style="border:none;overflow:hidden;width: 100%;height: 60vh;margin: 0px; padding: 0px;" 
            scrolling="no" 
            frameborder="0" 
            allowfullscreen="true" 
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
            allowFullScreen="true"
          >
          </iframe>
        </div>
      </div>
      <!-- section right -->
      <div class="col-sm-12 col-md-6">
        <div class="container-fluid">
          <h2 class="text-success">แนะนำสาขาวิชาวิทยาศาสตร์และเทคโนโลยีการอาหาร</h2>
          <p style="text-indent: 2em;">แนะนำสาขาวิชาวิทยาศาสตร์และเทคโนโลยีการอาหาร คณะเทคโนโลยีคหกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีราชมงคลกรุงเทพ</p>
        </div>
      </div>
    </div>
  </div>


    <!-- footer -->
    <%-include('footer.ejs')%>
   